.fondo-quiz{
    display: block;
    min-height: 90vh;
}
table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
tbody td {
    font-weight: 500;
}
.table-responsive{
    padding: 20px;
    border-radius: 8px;
}
h1{
    font-size: 32px;
    font-weight: bold;
    color: brown;
}
h2{
    font-size: 28px;
    font-weight: bold;
    color: brown;
}
img{
    width: 25px
}
.contador{
    font-size: 28px;
    font-weight: bold;
}